# IntelliJ IDEA
.idea/
*.iml
*.iws

# Gradle
.gradle/
build/

# Miscellaneous
*.tmp
*.swp
*.bak
*.pid
*.seed
*.pid.lock

# Java-specific
*.class
*.jar
*.war
*.ear

*.javadoc
*.zip
*.tar.gz
*.tar.bz2

# Eclipse
.project
.classpath
.settings/
bin/

# Maven
target/